@model SchoolmanagementSystem.data.TeachersRecord

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>TeachersRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherQualification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherQualification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherSubject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherSubject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherExperience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherExperience)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TeacherCnic">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
