@model SchoolmanagementSystem.data.StudentsRecord

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>StudentsRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentDegree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentDegree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentSection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentSection)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentGroup)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StudentCnic">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
